[submodule "haskell-vim"]
	path = bundle/haskell-vim
	url = git@github.com:ryanreich/haskell-vim
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "bundle/vimtex"]
	path = bundle/vimtex
	url = git@github.com:lervag/vimtex.git
